body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
  background-color: #a09090;
}

.task-card {
  width: 180px;
  padding: 10px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px whitesmoke;
  margin-top: 10px;
  cursor: move;
  transition: background-color 0.3s;
  position: relative; /* Ensure position is relative for z-index to work */
  z-index: 1; /* Default z-index */
}
.task-card.dragging {
  z-index: 1000; /* Higher z-index when dragging */
  opacity: 0.7; /* Optional: make it slightly transparent */
}
.todo-card {
  background-color: rgb(58, 197, 76);
  border: 1px solid darkgreen;
}

.inprogress-card {
  background-color: rgb(189, 219, 16);
  border: 1px solid rgb(204, 207, 6);
}

.done-card {
  background-color: rgb(230, 19, 19);
  border: 1px solid rgb(189, 19, 34);
}
